<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../../../assets/logo-utng.png" alt="logotipo" width="50px" height="50px"></a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"> <!-- Enlace a la página anterior -->
            <button type="button" class="btn btn-light">
              <i class="fa-solid fa-arrow-left fa-2xl" style="color: #74C0FC;"></i>
            </button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reglamento">Reglamento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reservaciones">Reservaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/oficios-reservas">Contratos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sugerencias-quejas">Sugerencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contrato">Contrato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/administrar-reservaciones">Administrar reservas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/registros">Registros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ingresar">Cuenta</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
