<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/inicio/inicio" >Inicio</a>
      <a mat-list-item routerLink="/inicio/reservas" *ngIf="canAccess([1, 2 , 4])">Reservas</a>
      <a mat-list-item routerLink="/inicio/oficios-reservas" *ngIf="canAccess([1, 2 ,4])">Oficios Reservas</a>
      <a mat-list-item routerLink="/inicio/sugerencias-quejas" >Sugerencias y Quejas</a>
      <a *ngIf="!(isLoggedIn$ | async)" mat-list-item routerLink="/inicio/reservaciones">Reservaciones</a>
      <a mat-list-item routerLink="/inicio/registros" *ngIf="canAccess([1, 4])">Registros</a>
      <a mat-list-item routerLink="/inicio/edificios" *ngIf="canAccess([1, 4])">Edificios</a>
      <a mat-list-item routerLink="/inicio/roles" *ngIf="canAccess([4])">Roles</a>
      <ng-container *ngIf="isLoggedIn$ | async; else notLoggedIn">
        <a mat-list-item (click)="logout()">Cerrar sesión <i class="bi bi-door-closed fs-4"></i></a>
      </ng-container>
      <ng-template #notLoggedIn>
        <a mat-list-item  routerLink="/ingresar">Ingresar <i class="bi bi-door-open fs-4"></i></a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Main toolbar -->
    <mat-toolbar>
      <!-- Toggle button for sidenav (if handset) -->
      <button *ngIf="isHandset$ | async" type="button" aria-label="Toggle sidenav" mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Control de Actividades UTNG </span>
      <span style="flex: 1;"></span>
      
      <ng-container *ngIf="isLoggedIn$ | async; else visitorTemplate">
        <span> Bienvenido, "{{ nombUsuario }}" (Rol: {{ rol }})</span>
      </ng-container>
    
      <!-- Template para mostrar cuando no está autenticado -->
      <ng-template #visitorTemplate>
        <span>Bienvenido, Visitante</span>
      </ng-template>
    </mat-toolbar>

    <!-- Content area with router outlet -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
