<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/inicio/inicio">Inicio</a>
      <a mat-list-item routerLink="/inicio/reservas">Reservas</a>
      <a mat-list-item routerLink="/inicio/administrar-reservaciones">Administrar Reservaciones</a>
      <a mat-list-item routerLink="/inicio/oficios-reservas">Oficios Reservas</a>
      <a mat-list-item routerLink="/inicio/sugerencias-quejas">Sugerencias y Quejas</a>
      <a mat-list-item routerLink="/inicio/registros">Registros</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Main toolbar -->
    <mat-toolbar>
      <!-- Toggle button for sidenav (if handset) -->
      <button *ngIf="isHandset$ | async"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Control de Actividades UTNG</span>
    </mat-toolbar>

    <!-- Content area with router outlet -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>

    <!-- Footer component -->
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
