 
<div class="body">
    <div class="wrapper">
      <form [formGroup]="rolForm" (ngSubmit)="edit ? updateRol() : saveRol()">
        <h1>{{ edit ? 'Editar rol' : 'Agregar rol' }}</h1>
        <h6>Rol</h6>
        <div class="input-box">
          <input type="text" formControlName="rol" placeholder="Nombre del rol" required autofocus>
          <i class="bi bi-person-lock"></i>
        </div>
  
        <button class="btn" type="submit" [disabled]="rolForm.invalid">
          {{ edit ? 'Actualizar' : 'Guardar' }} <i class="bi bi-person-fill-add"></i>
        </button>
      </form>
    </div>
  </div>
  