<div class="container-fluider px-5 mb-5">
    <div class="row mt-5">
        <!-- Formulario Interno -->
        <div class="col-lg-6 center">
            <div class="card shadow mb-4">
                <div class="card-body mt-4">
                    <h1 class="card-title text-center mb-4">Oficio para personal interno</h1>
                    <div id="internoForm">
                        <div class="content fs-4">
                            <div class="border p-4">
                                <form [formGroup]="reservaForm">
                                    <div class="text-center mb-4">
                                        <img class="img-fluid" src="../../../assets/membrete.png" alt="Encabezado" />
                                        <h3>Universidad Tecnológica del Norte de Guanajuato</h3>
                                        <p>Dirección de Espacios y Recursos</p>
                                        <p>Ciudad de Dolores Hidalgo, <input type="date" formControlName="fecha" /></p>
                                    </div>
                                    <p>Lic. Magda Mirthala Hernández González</p>
                                    <p>Encargada de la Subdirección de Formación Integral</p>
                                    <p>Gimnasio Auditorio, Universidad Tecnológica del Norte de Guanajuato</p>
                                    <h4 class="mt-4 text-center">Solicitud de Reservación de Área en Gimnasio Auditorio
                                    </h4>
                                    <p>Por este medio, me permito solicitar la reservación de un área en el Gimnasio
                                        Auditorio de su institución, conforme a los siguientes datos:</p>
                                    <!-- Formulario -->
                                    <div class="form-group">
                                        <label for="nombreCompleto">Responsable</label>
                                        <input type="text" class="form-control" formControlName="nombCompleto" />
                                        <div *ngIf="reservaForm.get('nombCompleto')?.invalid && reservaForm.get('nombCompleto')?.touched"
                                            class="error-message">
                                            <span *ngIf="reservaForm.get('nombCompleto')?.errors?.['required']">El
                                                nombre completo es requerido</span>
                                            <span *ngIf="reservaForm.get('nombCompleto')?.errors?.['pattern']">El nombre
                                                no puede tener caracteres especiales, ni números</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="telefono">Teléfono:</label>
                                        <input type="text" class="form-control" formControlName="telefono" />
                                        <div *ngIf="reservaForm.get('telefono')?.invalid && reservaForm.get('telefono')?.touched"
                                            class="error-message">
                                            <span *ngIf="reservaForm.get('telefono')?.errors?.['invalidPhone']">Teléfono
                                                inválido</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="correoElectronico">Correo Electrónico:</label>
                                        <input type="email" class="form-control" formControlName="correoElec" />
                                        <div *ngIf="reservaForm.get('correoElec')?.invalid && reservaForm.get('correoElec')?.touched"
                                            class="error-message">
                                            <span *ngIf="reservaForm.get('correoElec')?.errors?.['email']">Correo
                                                electrónico inválido</span>
                                            <span *ngIf="reservaForm.get('correoElec')?.errors?.['required']">El correo
                                                electrónico es requerido</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="grupo">Grupo:</label>
                                        <input type="text" class="form-control" formControlName="grupo" />
                                        <div *ngIf="reservaForm.get('grupo')?.invalid && reservaForm.get('grupo')?.touched"
                                            class="error-message">
                                            <span *ngIf="reservaForm.get('grupo')?.errors?.['pattern']">No puede
                                                tener caracteres especiales, ni números</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="numeroControl">Matrícula (si aplica):</label>
                                        <input type="text" class="form-control" formControlName="numControl" />
                                        <div *ngIf="reservaForm.get('numControl')?.invalid && reservaForm.get('numControl')?.touched"
                                            class="error-message">
                                            <span *ngIf="reservaForm.get('numControl')?.errors?.['pattern']">No puede
                                                tener caracteres especiales</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="horaInicio">Hora de Inicio:</label>
                                        <input type="time" class="form-control" formControlName="horaInicio" />
                                    </div>
                                    <div class="form-group">
                                        <label for="horaFin">Hora de Fin:</label>
                                        <input type="time" class="form-control" formControlName="horaFin" />
                                    </div>
                                    <div class="form-group">
                                        <label for="cargo">Cargo:</label>
                                        <input type="text" class="form-control" formControlName="cargo" />
                                        <div *ngIf="reservaForm.get('cargo')?.invalid && reservaForm.get('cargo')?.touched"
                                            class="error-message">
                                            <span *ngIf="reservaForm.get('cargo')?.errors?.['required']">El cargo es
                                                requerido</span>
                                            <span *ngIf="reservaForm.get('cargo')?.errors?.['pattern']">El cargo no debe
                                                tener caracteres especiales</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="areaUso">Área a Utilizar:</label>
                                        <select class="form-select" formControlName="areaUso">
                                            <option value=" " ></option>
                                            <option value="danzaFolclorica">Danza Folclórica</option>
                                            <option value="taekwando">Taekwando</option>
                                            <option value="baloncestoVoleibol">Baloncesto o Voleibol</option>
                                            <option value="ajedrez">Ajedrez</option>
                                        </select>
                                        <div *ngIf="reservaForm.get('areaUso')?.invalid && reservaForm.get('areaUso')?.touched"
                                            class="error-message">
                                            <span *ngIf="reservaForm.get('areaUso')?.errors?.['invalidArea']">Área
                                                inválida</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="razonesReservacion">Razones de la Reservación:</label>
                                        <textarea class="form-control" formControlName="razon" rows="3"></textarea>
                                        <label class="end">{{length}} / 4000</label>
                                    </div>
                                    <div class="form-group text-center">
                                        <label for="nombreCompleto">Atentamente:</label>
                                        <div class="signature-line"></div>
                                        <input type="text" class="form-control" formControlName="nombCompleto" />

                                    </div>
                                    <div class="form-group text-center">
                                        <label for="edificio">Edificio:</label>
                                        <select class="form-select" formControlName="edificio" >
                                            <option value="" disabled selected>Seleccione un edificio</option>
                                            <option *ngFor="let edificio of edificios"
                                                value="{{edificio.nombEdificio}}">
                                                {{edificio.nombEdificio}}
                                            </option>
                                        </select>
                                    </div>
                                    <p>Universidad Tecnológica del Norte de Guanajuato</p>
                                    <img class="img-fluid" src="../../../assets/membrete.png" alt="Encabezado" />
                                </form>
                            </div>
                        </div>
                        <div class="mt-3">
                            <button type="button" class="btn btn-primary float-end" (click)="generatePDFInterno()" [disabled]="!reservaForm.valid">
                                <i class="bi bi-filetype-pdf fs-3"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Formulario Externo -->
        <div class="col-lg-6 center" id="externoForm">
            <div class="card shadow mb-4">
                <div class="card-body mt-4">
                    <h1 class="card-title text-center mb-4">Oficio para personal externo</h1>
                    <div class="content fs-4">
                        <div class="border p-4">
                            <form [formGroup]="reservaForm">
                                <div class="text-center mb-4">
                                    <img class="img-fluid" src="../../../assets/membrete.png" alt="Encabezado" />
                                    <h3>Universidad Tecnológica del Norte de Guanajuato</h3>
                                    <p>Dirección de Espacios y Recursos</p>
                                    <p>Ciudad de Dolores Hidalgo, <input type="date" formControlName="fecha" /></p>
                                </div>
                                <p>Lic. Magda Mirthala Hernández González</p>
                                <p>Encargada de la Subdirección de Formación Integral</p>
                                <p>Gimnasio Auditorio, Universidad Tecnológica del Norte de Guanajuato</p>
                                <h4 class="mt-4 text-center">Solicitud de Reservación de Área en Gimnasio Auditorio</h4>
                                <p>Por este medio, me permito solicitar la reservación de un área en el Gimnasio
                                    Auditorio de su institución, conforme a los siguientes datos:</p>
                                <!-- Formulario -->
                                <div class="form-group">
                                    <label for="nombreCompleto">Responsable:</label>
                                    <input type="text" class="form-control" formControlName="nombCompleto" />
                                    <div *ngIf="reservaForm.get('nombCompleto')?.invalid && reservaForm.get('nombCompleto')?.touched"
                                        class="error-message">
                                        <span *ngIf="reservaForm.get('nombCompleto')?.errors?.['required']">El nombre
                                            completo es requerido</span>
                                            <span *ngIf="reservaForm.get('nombCompleto')?.errors?.['pattern']">El nombre
                                                no puede tener caracteres especiales, ni números</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="telefono">Teléfono:</label>
                                    <input type="text" class="form-control" formControlName="telefono" />
                                    <div *ngIf="reservaForm.get('telefono')?.invalid && reservaForm.get('telefono')?.touched"
                                        class="error-message">
                                        <span *ngIf="reservaForm.get('telefono')?.errors?.['invalidPhone']">Teléfono
                                            inválido</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="correoElectronico">Correo Electrónico:</label>
                                    <input type="email" class="form-control" formControlName="correoElec" />
                                    <div *ngIf="reservaForm.get('correoElec')?.invalid && reservaForm.get('correoElec')?.touched"
                                        class="error-message">
                                        <span *ngIf="reservaForm.get('correoElec')?.errors?.['email']">Correo
                                            electrónico inválido</span>
                                        <span *ngIf="reservaForm.get('correoElec')?.errors?.['required']">El correo
                                            electrónico es requerido</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="dependencia">Dependencia:</label>
                                    <input type="text" class="form-control" formControlName="dependencia" />
                                </div>
                                <div class="form-group">
                                    <label for="horaInicio">Hora de Inicio:</label>
                                    <input type="time" class="form-control" formControlName="horaInicio" />
                                </div>
                                <div class="form-group">
                                    <label for="horaFin">Hora de Fin:</label>
                                    <input type="time" class="form-control" formControlName="horaFin" />
                                </div>
                                <div class="form-group">
                                    <label for="areaUso">Área a Utilizar:</label>
                                    <select class="form-select" formControlName="areaUso">
                                        <option selected disabled>Seleccione el Área</option>
                                        <option value="danzaFolclorica">Danza Folclórica</option>
                                        <option value="taekwando">Taekwando</option>
                                        <option value="baloncestoVoleibol">Baloncesto o Voleibol</option>
                                        <option value="ajedrez">Ajedrez</option>
                                    </select>
                                    <div *ngIf="reservaForm.get('areaUso')?.invalid && reservaForm.get('areaUso')?.touched"
                                        class="error-message">
                                        <span *ngIf="reservaForm.get('areaUso')?.errors?.['invalidArea']">Área
                                            inválida</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="razonesReservacion">Especificaciones:</label>
                                    <textarea class="form-control" formControlName="razon2" rows="3"></textarea>
                                    <label class="end">{{length2}} / 4000</label>
                                </div>
                                <div class="form-group text-center">
                                    <label for="nombreCompleto">Atentamente:</label>
                                    <div class="signature-line"></div>
                                    <input type="text" class="form-control" formControlName="nombCompleto" />
                                </div>
                                <p>Universidad Tecnológica del Norte de Guanajuato</p>
                                <img class="img-fluid" src="../../../assets/membrete.png" alt="Encabezado" />
                            </form>
                        </div>
                        <div class="mt-3">
                            <button type="button" class="btn btn-primary float-end" (click)="generatePDFExterno()" [disabled]="!reservaForm.valid">
                                <i class="bi bi-filetype-pdf fs-3"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>