<div class="container mb-5">
  <div class="card shadow mt-5">
    <div class="card-body mt-4">
      <h1 class="card-title text-center mb-4">Reglamento del Gimnasio Auditorio</h1>
      <div class="content text-center fs-4">
        <p>1. NO SE PERMITE EL USO DEL GIMNASIO AUDITORIO SI NO

          SE ENCUENTRA PRESENTE AL MENOS UN PROFESOR RESPONSABLE

          DEL GRUPO.</p>

        <p> 2. PARA INGRESAR A LA DUELA SE DEBERÁ UTILIZAR ROPA DEPORTIVA

          Y ZAPATO TENIS.</p>

        <p> 3. NO SE PERMITE INTRODUCIR E INGERIR ALIMENTOS.</p>

        <p> 4.NO SE PERMITE INTRODUCIR NINGÚN TIPO DE BEBIDA

          EXCEPTO AGUA.</p>

        <p> 5. NO DEJAR BASURA Y DEPOSITARLA EN LOS CONTENEDORES QUE

          CORRESPONDE (UBICADOS EN EL EXTERIOR DEL GIMNASIO).</p>

        <p> 6. LA PERSONA QUE DAÑE LAS INSTALACIONES O MATERIAL

          DEPORTIVO SE HARÁ RESPONSABLE DE PAGAR EL DESPERFECTO.</p>

        <p> 7. CUALQUIER PERSONA QUE INCUMPLA EL PRESENTE REGLAMENTO,

          SERÁ CANALIZADA LAS AUTORIDADES CORRESPONDIENTES

          QUIENES APLICARÁN LA SANCIÓN DE ACUERDO CON LA NORMATIVIDAD Y

          REGLAMENTOS VIGENTES DE LA INSTITUCIÓN.
        </p>
      </div>
    </div>
  </div>
</div>
