<div class="container mb-5">
  <div class="card shadow mt-5">
    <div class="card-body mt-4">
      <h1 class="card-title text-center mb-4">Reglamento del Gimnasio Auditorio</h1>
      <div class="content fs-4">
        <p>1. No se permite el uso del gimnasio auditorio si no se encuentra presente al menos un profesor responsable del
          grupo.</p>
        <p>2. Para ingresar a la duela se deberá utilizar ropa deportiva y zapato tenis.</p>
        <p>3. No se permite introducir e ingerir alimentos.</p>
        <p>4. No se permite introducir ningún tipo de bebida excepto agua.</p>
        <p>5. No dejar basura y depositarla en los contenedores que corresponde (ubicados en el exterior del gimnasio).</p>
        <p>6. La persona que dañe las instalaciones o material deportivo se hará responsable de pagar el desperfecto.</p>
        <p>7. Cualquier persona que incumpla el presente reglamento, será canalizada a las autoridades correspondientes
          quienes aplicarán la sanción de acuerdo con la normatividad y reglamentos vigentes de la institución.</p>
          <p>8. No se permite el acceso a animales o mascotas.</p>

      </div>
      <iframe style="border-radius:22px;margin-top: 50px; margin-bottom: 0; padding-bottom: 0;" src="https://open.spotify.com/embed/artist/5XsWrYhwadPBjW20qYbdZg?utm_source=generator" width="99%" height="200" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

    </div>
  </div>
</div>