<div class="container-fluid px-1 mb-5">
  <div class="row mt-5 justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow mb-4">
        <div class="card-body mt-4">
          <h1 class="card-title text-center mb-4">Contrato de Colaboración</h1>
          <div class="content fs-4">
            <div class="container mt-5">
              <div class="border p-4">


               
                  <div class="letter-header">
                    <p ><strong>Dolores Hidalgo Cuna de la Independencia Nacional, a 12 de junio de 2024</strong></p>
                    <p><strong>Para: Lic. Magda Mirthala Hernández González</strong><br>
                      Encargada de la Subdirección de Formación Cultural<br>
                      Gimnasio Auditorio, Universidad Tecnológica del Norte de Guanajuato</p>
                    <p><strong>Estimada Lic. Hernández González,</strong></p>
                  </div>
                

                <div class="container">
                  <div class="row">
                    <div class="col">
                      <div class="letter-body">
                        <p>Nos dirigimos a usted para formalizar la colaboración entre su distinguida institución,
                          Gimnasio
                          Auditorio, y nuestro equipo de desarrollo, en el marco de un proyecto académico del
                          cuatrimestre
                          Mayo-Agosto 2024. A continuación, detallamos los términos y condiciones del proyecto.</p>
                        <p>El proyecto consiste en el desarrollo de una aplicación web para el control de actividades en
                          el
                          Gimnasio Auditorio, utilizando la metodología SCRUM. El objetivo principal de este proyecto es
                          proporcionar una herramienta que facilite la gestión y seguimiento de las diversas actividades
                          que
                          se llevan a cabo en su institución.</p>
                        <p><strong>Detalles del Proyecto:</strong></p>
                        <ul>
                          <li><strong>Equipo de Desarrollo:</strong> El equipo de desarrollo estará compuesto por
                            estudiantes
                            de la especialidad de desarrollo de software, quienes trabajarán bajo la supervisión de sus
                            profesores y mentores académicos.</li>
                          <li><strong>Propiedad Intelectual:</strong> Al finalizar el cuatrimestre, la totalidad del
                            proyecto,
                            incluyendo el código fuente y la documentación relacionada, será de propiedad exclusiva del
                            equipo
                            de desarrollo.</li>
                        </ul>
                        <p>Se aclara que este proyecto no tiene fines lucrativos y se realiza con fines académicos y
                          prácticos.</p>
                        <p>Agradecemos de antemano su colaboración y estamos seguros de que este proyecto será de gran
                          beneficio tanto para su institución como para nuestros estudiantes, quienes tendrán la
                          oportunidad
                          de aplicar sus conocimientos en un entorno real.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="signature text-center">
                  <p>Atentamente,</p>
                  <p><strong>Rodríguez Mora Zahir Andrés</strong><br>
                    Scrum Master<br>
                    Universidad Tecnológica del Norte de Guanajuato</p>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <div class="signature text-center">
                        <img src="rutaFirmaScrum" alt="Firma de Alumno Zahir Andrés Rodríguez Mora">
                        <p class="nombre"><strong>Alumno. Zahir Andrés Rodríguez Mora</strong><br>
                          Universidad Tecnológica del Norte de Guanajuato</p>
                      </div>
                    </div>
                    <div class="col">
                      <div class="signature text-center">
                        <img src="rutaFirmaLic" alt="Firma de Lic. Magda Mirthala Hernández González">
                        <p class="nombre"><strong>Lic. Magda Mirthala Hernández González</strong><br>
                          Encargada de la Subdirección de Formación Cultural<br>
                          Universidad Tecnológica del Norte de Guanajuato</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center mt-4">
                <p><strong>Anexo.</strong> En el formato digital se proporcionan las especificaciones del contrato.
                    <a class="contrato" href="https://docs.google.com/document/d/1fRzhEiAONPWEwjVbMiJubf0XSzq7anw2mfazVPsgRWg/edit?usp=sharing"
                    target="_blank"><strong>Contrato Digital</strong></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
