<div class="general">
    <img class="logo-loger img-fluid" src="https://www.utng.edu.mx/assets/principal/carreras/mapasC/logo-utng.png" alt="UTNG Logo">
    <div class="container-loger create-account p-4 mb-5">
        <h2>Recupera tu cuenta</h2>
        <form id="recoverAccountForm">
            <div class="form-group mb-1">
                <input type="number" id="identifier" name="identifier" class="form-control" placeholder="Escribe número de teléfono para encontrar tu cuenta" >
                <label class="text-center " for="">ó</label>
                <input type="email" id="identifier" name="identifier" class="form-control" placeholder="Escribe tu correo  para encontrar tu cuenta" >
                <label class="text-center mt-5" for="">Crea tu nueva contraseña</label>
                <input type="password" id="identifier" name="identifier" class="form-control" placeholder="Nueva contraseña" >
                <input type="password" id="identifier" name="identifier" class="form-control" placeholder="Confirma nueva contraseña" >
            </div>
            <div class="form-group text-center mb-1">
                <button class="btn btn-secondary mt-5" type="button" routerLink="/ingresar">Cancelar</button>
                <button class="btn btn-primary mt-5 " type="submit">Cambiar</button>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>