<footer class="custom-footer">
  <div class="container p-3">
    <div class="row">
      <div class="col-md-4 text-center">
        <img class="custom-logo" routerLink="/" routerLinkActive="active" src="../../../assets/logotipo.svg"
          alt="logotipo" width="100px" height="auto">
      </div>
      <div class="col-md-4 text-center">
        <h3>UTNG</h3>
        <ul class="list-unstyled">
          <li><i class=""></i> Inicio</li>
          <li><i class=""></i> Reservaciones</li>
          <li><i class=""></i> Reglamento</li>
        </ul>
      </div>
      <div class="col-md-4 text-center">
        <a routerLink="/inicio/sugerencias-quejas" routerLinkActive="active">
          <h5>Ayúdanos a mejorar</h5>
        </a>
      </div>
    </div>
    <div class="text-center mt-3">
      <p>&copy; 2024 UTNG. <a class="derechos" href="/inicio/contrato">Todos los derechos reservados</a>.</p>
    </div>
  </div>
</footer>