<div class="container">
	<section class="error-container">
	  <span class="error-number four">
		<span class="screen-reader-text">4</span>
	  </span>
	</section> 
	
	<section class="error-container">
	  <span class="error-number zero">
		<span class="screen-reader-text"></span>
	  </span>
	</section> 
	<section class="error-container">
	  <span class="error-number four">
		<span class="screen-reader-text">4</span>
	  </span>
	</section> 
	<section class="message-container">
		<p class="message-text">Estamos trabajando en ello</p>
	  </section>
  </div>
  
  