<div class="container-fluid px-4 mb-5">
  <div id="myTabContent" class="tab-content bg-light mt-5">
    <div class="tab-content mt-2 p-1">
      <div class="tab-pane fade active show" id="profile" role="tabpanel">
        <div>
          <div class="mt-5 d-flex justify-content-between align-items-center">
            <h1>Reservaciones</h1>

          </div>
        </div>
        <div class="table-responsive">
          <mat-form-field>
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Filtro" #input>
          </mat-form-field>

          <table mat-table [dataSource]="dataSource" matSort>
            <!-- Hora de Inicio Column -->
            <ng-container matColumnDef="horaInicio">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora de Inicio </th>
              <td mat-cell *matCellDef="let reserva"> {{ reserva.horaInicio }} </td>
            </ng-container>

            <!-- Hora de Término Column -->
            <ng-container matColumnDef="horaFin">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora de Término </th>
              <td mat-cell *matCellDef="let reserva"> {{ reserva.horaFin }} </td>
            </ng-container>

            <!-- Fecha Column -->
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha (MM/DD/YYYY) </th>
              <td mat-cell *matCellDef="let reserva"> {{ reserva.fecha | date:'dd/MM/yyyy' }} </td>
            </ng-container>

            <!-- Razón del Uso Column -->
            <ng-container matColumnDef="razon">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Razón del Uso </th>
              <td mat-cell *matCellDef="let reserva"> {{ reserva.razon }} </td>
            </ng-container>

            <!-- Área a Usar Column -->
            <ng-container matColumnDef="areaUsar">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Área a Usar </th>
              <td mat-cell *matCellDef="let reserva"> {{ reserva.areaUsar }} </td>
            </ng-container>

            <!-- Proximidad Column -->
            <ng-container matColumnDef="proximidad">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Aceptación </th>
              <td mat-cell *matCellDef="let reserva">
                <span [style.color]="getProximityColor(calculateProximityText(reserva.fecha, reserva.estado))">
                  {{ calculateProximityText(reserva.fecha, reserva.estado) }}
                </span>
              </td>
            </ng-container>
            

            <!-- Estado Column -->
            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
              <td mat-cell *matCellDef="let reserva">
                <div class="estado-icon">
                  <ng-container [ngSwitch]="reserva.estado">
                    <i *ngSwitchCase="'Aceptado'" class="fa-regular fa-circle-check fa-2x"></i>
                    <i *ngSwitchCase="'Rechazado'" class="fa-regular fa-circle-xmark fa-2x"></i>
                    <i *ngSwitchCase="'Error'" class="fa-solid fa-circle-exclamation fa-2x text-danger"></i>
                    <i *ngSwitchDefault class="fa-regular fa-circle-question fa-2x"></i>
                  </ng-container>
                </div>
              </td>
            </ng-container>

            <!-- Acciones Column -->
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef class="acciones-header"> Acciones </th>
              <td mat-cell *matCellDef="let reserva">
                <div class="action-buttons">
                  <a type="button" class="btn btn-light" [routerLink]="['../oficios-reservas/edit/',reserva.idReserva]">
                    <i class="fas fa-print fa-lg"></i>
                  </a>
                  <button type="button" class="btn btn-danger" [disabled]="!canDelete(reserva.idResp)"
                    (click)="openConfirmDialog(reserva.idReserva)">
                    <i class="bi bi-calendar2-x-fill"></i>
                  </button>
                  <button type="button" class="btn btn-success" *ngIf="canEdit()"
                    [routerLink]="['/inicio/administrar-reservaciones', reserva.idReserva]">
                    <i class="fas fa-edit"></i>
                  </button>
                </div>
              </td>
            </ng-container>

            <!-- Header and Rows -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              <ng-container *ngFor="let column of displayedColumns">
                <td mat-cell *matCellDef="let element"
                  [class.disabled-row]="row.estado === 'Error' && column !== 'acciones'">
                  <ng-container *ngIf="column !== 'acciones'">
                    {{ row[column] }}
                  </ng-container>
                  <ng-container *ngIf="column === 'acciones'">
                    <div class="action-buttons">
                      <a type="button" class="btn btn-light"
                        [routerLink]="['../oficios-reservas/edit/', row.idReserva]">
                        <i class="fas fa-print fa-lg"></i>
                      </a>
                      <button type="button" class="btn btn-danger" [disabled]="!canDelete(row.idResp)"
                        (click)="openConfirmDialog(row.idReserva)">
                        <i class="bi bi-calendar2-x-fill"></i>
                      </button>
                      <button type="button" class="btn btn-success" *ngIf="canEdit()"
                        [routerLink]="['/inicio/administrar-reservaciones', row.idReserva]">
                        <i class="fas fa-edit"></i>
                      </button>
                    </div>
                  </ng-container>
                </td>
              </ng-container>
            </tr>


            <!-- No Data Row -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="7">Datos no encontrados en el filtro "{{input.value}}"</td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
        </div>
        <div class="container text-center mt-3">
          <div class="">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1376.9214153667863!2d-100.93200599145938!3d21.16763208575214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842b3efe2e87ccd7%3A0xcf1c80c255f1993e!2sUniversidad%20Tecnol%C3%B3gica%20del%20Norte%20de%20Guanajuato!5e1!3m2!1ses-419!2smx!4v1723920032509!5m2!1ses-419!2smx"
              width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
