<div class="formulario-flotante">
  <h2>Razón del Ascenso</h2>
  <form [formGroup]="ascensoForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Razón</mat-label>
      <textarea matInput formControlName="razon" required></textarea>
    </mat-form-field>
    <div class="actions">
      <button mat-button type="button" class="cancel-button" (click)="onCancel()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit" class="submit-button">Enviar</button>
    </div> 
  </form>
</div>
