.formulario-flotante {
  width: 100%;
  padding: 10px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.formulario-flotante textarea{
  font-size: 12px;
  height: 100px;
}

.actions button {
  margin-left: 8px;
}

.actions .button {
  background: #2B2D2F;
  height: 80px;
  width: 200px;
  text-align: center;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.actions .button .text {
  font: bold 1.25rem/1 Poppins;
  color: #71DFBE;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

.actions .button .progress-bar {
  position: absolute;
  height: 10px;
  width: 0;
  right: 0;
  top: 50%;
  left: 50%;
  border-radius: 200px;
  transform: translateY(-50%) translateX(-50%);
  background: lighten(#2B2D2F, 15%);
}

.actions .button svg {
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  right: 0;
}

.actions .button .check {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* Estilo para el botón de cancelar */
.cancel-button {
  background: linear-gradient(45deg, #e25353, #950404);
  color: white;
  border: 2px solid transparent;
  position: relative;
  overflow: hidden;
}

.cancel-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.2);
  transform: translate(-50%, -50%) rotate(45deg);
  transition: all 0.3s;
  opacity: 0;
}

.cancel-button:hover::before {
  opacity: 1;
}

.submit-button {
  background: linear-gradient(45deg, #53e264, #04952d);
  color: white;
  border: 2px solid transparent;
  position: relative;
  overflow: hidden;
}

.submit-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.2);
  transform: translate(-50%, -50%) rotate(45deg);
  transition: all 0.3s;
  opacity: 0;
}

.submit-button:hover::before {
  opacity: 1;
}


.notification {
  background-color: #4caf50; /* Verde para éxito */
  color: white;
  padding: 15px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.notification i {
  font-size: 1.5em;
}

.progress-bar-container {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #e0e0e0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #3f51b5;
  animation: progress-animation 3s linear forwards;
}

@keyframes progress-animation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
