* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.error-message{
  margin: 1px;
}
.body {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 90%;
  max-width: 1000px;
  min-height: 750px;
  z-index: 1;
}

.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 10px 0;
}

.container span {
  font-size: 11px;
  color: red;
}

.container a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container button {
  background-color: #0D2C6B;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.container form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
}

.container input, select {
  background-color: #0000001e;
  border: none;
  margin: 10px 0;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  width: 100%;
  outline: none;
  color: #000000;
}

.col{
 margin-left: 10px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
  overflow: auto;
  padding-top: 50px;  
}

.container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}


.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.container.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle {
  background-color: #0D2C6B;
  height: 100%;
  background: linear-gradient(to right, #9FC5F8, #0D2C6B);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.container.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right {
  transform: translateX(200%);
}
.logo-font{
  display: none;
}

/* Font-zice */

@media (max-width: 768px) {
  .container {
    width: 90%;
    min-height: auto;
  }

  .container form {
    padding: 0 10px;
  }

  .logo-font {
    display: none;
  }
}

@media (max-width: 480px) {
  .toggle-panel {
    padding: 0 15px;
  }
}

@media (max-width: 789px) {
  
  .body{
    overflow: scroll;
  }
  .container {
    width: 90%;
    max-width: none;
    border-radius: 15px;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
  }

  .form-container {
    position: relative;
    width: 100%;
    height: auto;
    transform: none;
    transition: none;
  }

  .sign-in,
  .sign-up {
    width: 100%;
    opacity: 1;
    transform: none;
  }

  .toggle-container {
    display: none;
  }

  h1 {
    margin-top: 10px;
  }

  button {
    margin-bottom: 10px;
  }

  .logo-font {
    display: block;
  }

  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-font {
    margin-bottom: 30px;
    /* Ajusta el espacio entre el logotipo y el formulario */
    text-align: center;
  }

  .container {
    width: 90%;
    max-width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form-container {
    margin-top: 20px;
  }

}

@media (max-width: 480px) {
  .toggle-panel {
    padding: 0 15px;
  }
}

button#register2:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

.password-container {
  position: relative;
  font-size: 15px;
  text-align: center;
}


.password-icon:hover {
  color: #0D2C6B;
  text-decoration: underline;
}
.password-icon {
  cursor: pointer;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;

}

.body {
  position: relative;
  z-index: 1;
}

.btn{
  display: flex;
  
}
.btn button{
  margin: 2px;
}


