<div class="body">
    <div class="wrapper">
    <img class="logo img-fluid order-first" src="https://www.utng.edu.mx/assets/principal/carreras/mapasC/logo-utng.png" alt="UTNG Logo">
    <div class="container create-account p-4">
        <h2>Crear cuenta</h2>
        <form [formGroup]="responsableForm" (ngSubmit)="saveResponsable()">
            <div class="row ">
                <div class="col-lg-6 col-md-12">
                    <label for="usuario">Usuario</label>
                    <input type="text" formControlName="nombUsuario" placeholder="Ingrese su nombre de usuario" class="form-control" required autofocus>
                </div>
                <div class="col-lg-6 col-md-12">
                    <label for="telefono">Número de teléfono</label>
                    <input type="tel" formControlName="telefono" class="form-control" placeholder="Ingrese su número de teléfono" ><!--Validar que obligue este o el email-->
                </div>
                <div class="col-lg-6 col-md-12">
                    <label for="nueva-contrasena">Nueva contraseña</label>
                    <input class="form-control" type="password" formControlName="contrasenia" placeholder="Nueva contraseña" required>
                </div>
                <div class="col-lg-6 col-md-12">
                    <label for="email">Correo electrónico</label>
                    <input type="email" formControlName="correoElec" class="form-control" placeholder="Ingrese su correo electrónico" >
                </div>
                <div class="col-lg-6 col-md-12">
                    <label for="confContrasena">Confirma contraseña</label>
                    <input class="form-control" type="password" formControlName="confContrasenia" placeholder="Confirme su contraseña" required>
                </div>
                <div class="col-lg-6 col-md-12">
                    <label for="nombres">Nombres</label>
                    <input type="text" formControlName="nombres" class="form-control" placeholder="Ingrese su(s) nombre(s)" required>
                </div>
                <div class="col-lg-6 col-md-12">
                    <label for="apellido-paterno">Apellido Paterno</label>
                    <input type="text" formControlName="appPaterno" class="form-control" placeholder="Ingrese su apellido paterno" required>
                </div>
                <div class="col-lg-6 col-md-12">
                    <label for="apellido-materno">Apellido Materno</label>
                    <input type="text" formControlName="appMaterno" class="form-control" placeholder="Ingrese su apellido materno" >
                </div>
                
                <div class="col-lg-6 col-md-12">
                    <label for="num-control">Número de control</label>
                    <input type="text" formControlName="numControl" class="form-control" placeholder="Ingrese su número de control">
                </div>
                <div class="col-lg-6 col-md-12">
                    <label for="Grupo">Grupo</label>
                    <input type="text" formControlName="grupo" class="form-control" placeholder="Ingrese su grupo (alumno)" >
                </div>
                <div class="col-md-12">
                    <label for="cargo">Cargo en la UTNG</label>
                    <select class="form-select" formControlName="idRoles" required>
                        <option value="" disabled selected>Seleccione un rol</option>
                        <option *ngFor="let rol of roles" value="{{rol.idRoles}}">{{rol.rol}}</option>
                    </select>
                </div>
                
                
            </div>
            <div class="text-center mt-3">
                <button class="h5 btn btn-primary" type="submit" [disabled]="responsableForm.invalid">Crear usuario</button>
                <button class="h5 btn btn-danger" routerLink="/ingresar" > Cancelar</button>
            </div>
        </form>
    </div>
</div>
</div>
<app-footer></app-footer>