<div class="container-fluid mb-5">
    <div id="myTabContent" class="tab-content bg-light mt-5">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" aria-selected="true" role="tab">Administrador</a>
            </li>
        </ul>

        <div class="tab-content mt-3 p-3">
            <div class="tab-pane fade active show" id="adminTab" role="tabpanel">
                <div class="d-flex justify-content-between align-items-center">
                    <h1>Administrador de reservaciones</h1>
                </div>

                <div class="table-responsive mt-3 d-none d-md-block">
                    <!-- Tabla para pantallas medianas y grandes -->
                    <form [formGroup]="reservaForm">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Fecha Asignada</th>
                                    <th scope="col">Hora de Inicio</th>
                                    <th scope="col">Hora de Término</th>
                                    <th scope="col">Razón del Uso</th>
                                    <th scope="col">Área a Usar</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="date" class="form-control" formControlName="fecha">
                                        <div *ngIf="reservaForm.get('fecha')?.invalid && reservaForm.get('fecha')?.touched"
                                             class="error-message">
                                            <span *ngIf="reservaForm.get('fecha')?.errors?.['required']">
                                                Este campo es requerido.
                                            </span>
                                        </div>
                                    </td>
                                    
                                    <td>
                                        <input type="time" class="form-control" formControlName="horaInicio">
                                        <div *ngIf="reservaForm.get('horaInicio')?.invalid && reservaForm.get('horaInicio')?.touched"
                                             class="error-message">
                                            <span *ngIf="reservaForm.get('horaInicio')?.errors?.['required']">
                                                Este campo es requerido.
                                            </span>
                                        </div>
                                    </td>
                                    
                                    <td>
                                        <input type="time" class="form-control" formControlName="horaFin">
                                        <div *ngIf="reservaForm.get('horaFin')?.invalid && reservaForm.get('horaFin')?.touched"
                                             class="error-message">
                                            <span *ngIf="reservaForm.get('horaFin')?.errors?.['required']">
                                                Este campo es requerido.
                                            </span>
                                        </div>
                                    </td>
                                    
                                    <td>
                                        <textarea class="form-control static-textarea" formControlName="razon" rows="3"
                                            placeholder="Razones de la reservación"></textarea>
                                        <div *ngIf="reservaForm.get('razon')?.invalid && reservaForm.get('razon')?.touched"
                                             class="error-message">
                                            <span *ngIf="reservaForm.get('razon')?.errors?.['required']">
                                                Este campo es requerido.
                                            </span>
                                        </div>
                                        <mat-hint align="end">{{length}} / 4000</mat-hint>
                                    </td>
                                    
                                    <td>
                                        <select class="form-select" formControlName="areaUsar">
                                            <option value="">Seleccione el Área</option>
                                            <option value="danzaFolclorica">Danza Folclórica</option>
                                            <option value="taekwando">Taekwando</option>
                                            <option value="baloncestoVoleibol">Baloncesto o Voleibol</option>
                                            <option value="ajedrez">Ajedrez</option>
                                        </select>
                                        <div *ngIf="reservaForm.get('areaUsar')?.invalid && reservaForm.get('areaUsar')?.touched"
                                             class="error-message">
                                            <span *ngIf="reservaForm.get('areaUsar')?.errors?.['required']">
                                                Este campo es requerido.
                                            </span>
                                        </div>
                                    </td>
                                    
                                    <td>
                                        <div class="form-check form-check-inline estado">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" formControlName="estado" value="Aceptado">
                                                <i class="fa-regular fa-circle-check fa-2x text-success"></i>
                                            </label>
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" formControlName="estado" value="Rechazado">
                                                <i class="fa-regular fa-circle-check fa-2x text-danger"></i>
                                            </label>
                                            <button type="button" class="btn btn-secondary btn-sm ms-2" (click)="clearEstado()">Borrar selección</button>
                                        </div>
                                    </td>
                                    
                                    <td>
                                        <button class="btn btn-success btn-sm mb-1" (click)="updateReservas()">Guardar</button>
                                        <button class="btn btn-danger btn-sm mb-1" (click)="openConfirmDialog(idReserva)">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>

                <div class="d-md-none">
                    <!-- Lista para pantallas pequeñas -->
                    <form [formGroup]="reservaForm">
                        <ul class="list-group mt-3">
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <span>Fecha Asignada:</span>
                                    <input type="date" class="form-control" formControlName="fecha">
                                    <div *ngIf="reservaForm.get('fecha')?.invalid && reservaForm.get('fecha')?.touched"
                                         class="error-message">
                                        <span *ngIf="reservaForm.get('fecha')?.errors?.['required']">
                                            Este campo es requerido.
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <span>Hora de Inicio:</span>
                                    <input type="time" class="form-control" formControlName="horaInicio">
                                    <div *ngIf="reservaForm.get('horaInicio')?.invalid && reservaForm.get('horaInicio')?.touched"
                                         class="error-message">
                                        <span *ngIf="reservaForm.get('horaInicio')?.errors?.['required']">
                                            Este campo es requerido.
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <span>Hora de Término:</span>
                                    <input type="time" class="form-control" formControlName="horaFin">
                                    <div *ngIf="reservaForm.get('horaFin')?.invalid && reservaForm.get('horaFin')?.touched"
                                         class="error-message">
                                        <span *ngIf="reservaForm.get('horaFin')?.errors?.['required']">
                                            Este campo es requerido.
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex flex-column">
                                    <span>Razón del Uso:</span>
                                    <textarea class="form-control" formControlName="razon" rows="3"
                                        placeholder="Razones de la reservación"></textarea>
                                    <div *ngIf="reservaForm.get('razon')?.invalid && reservaForm.get('razon')?.touched"
                                         class="error-message">
                                        <span *ngIf="reservaForm.get('razon')?.errors?.['required']">
                                            Este campo es requerido.
                                        </span>
                                    </div>
                                    <mat-hint align="end">{{length}} / 4000</mat-hint>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <span>Área a Usar:</span>
                                    <select class="form-select" formControlName="areaUsar">
                                        <option value="">Seleccione el Área</option>
                                        <option value="danzaFolclorica">Danza Folclórica</option>
                                        <option value="taekwando">Taekwando</option>
                                        <option value="baloncestoVoleibol">Baloncesto o Voleibol</option>
                                        <option value="ajedrez">Ajedrez</option>
                                    </select>
                                    <div *ngIf="reservaForm.get('areaUsar')?.invalid && reservaForm.get('areaUsar')?.touched"
                                         class="error-message">
                                        <span *ngIf="reservaForm.get('areaUsar')?.errors?.['required']">
                                            Este campo es requerido.
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div>
                                    <span>Estado:</span>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" formControlName="estado" value="Aceptado">
                                            <i class="fa-regular fa-circle-check fa-2x text-success"></i>
                                        </label>
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" formControlName="estado" value="Rechazado">
                                            <i class="fa-regular fa-circle-check fa-2x text-danger"></i>
                                        </label>
                                        <button type="button" class="btn btn-secondary btn-sm ms-2" (click)="clearEstado()">Borrar selección</button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item text-center">
                                <button class="btn btn-success btn-sm mb-1" (click)="updateReservas()">Guardar</button>
                                <button class="btn btn-danger btn-sm mb-1" (click)="openConfirmDialog(idReserva)">Eliminar</button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
