.formulario {
    width: 80%;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    color: #333;
    border-radius: 15px;
    padding: 40px 50px;
    margin: 20px auto; /* Centra el formulario */
    font-family: 'Arial', sans-serif;
}

.formulario label {
    color: #555;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    transform: translateY(-3px);
    font-size: 14px;
}


.formulario button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.formulario button.limpiar{
    color: black;
    margin-right: 10px;
}

.formulario button.limpiar:hover{
    color: rgb(255, 255, 255);
}
.formulario button:hover {
    background-color: #357ab7;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.formulario button:active {
    background-color: #2c6191;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card p {
    padding-left: 10%;
    font-size: 14px;
    color: #666;
}


/* burbujas */


.burbuja{
    border-radius: 50%;
    background: #9fd5e5dd;
    opacity: .3;
    position: absolute;
    bottom: -150;
    animation: burbujas 3s linear infinite ;
    z-index: -1;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 8s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 10s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
        transform: translateX(-1px);

    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(130px);
    }
    100%{
        transform: translateY(0);
    }
}

.btn{
    margin: 10px;
}

.table-responsive{
    margin: 100px;
    width: 90%;
}

.error-message{
 color: red;
 font-size: 11;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.action-buttons {
    display: flex; 
    gap: 10px; 
}
